::selection {
  color: #d8dee9;
  background-color: #bf616a;
}

:root {
  height: 100%;
  background-color: #2e3440;
  transition: background-color 0ms !important;
}

:root, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #d8dee9;
  font-size: 3vw;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: monospace;
}

* { transition: all 250ms }

.stuff {
  top: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  align-content: center;
  transform: translateY(-50%);
}
h1 {
  margin: 0;
  color: #ff5454;

  &> .comment {
    color: #8294ab;
  }
}

.reqPage {
  color: white;
  font-weight: bold;
  font-size: 1.325em;
}

#new_note_btn {
  margin: 0;
  border: none;
  outline: none;
  font-size: 1em;
  color: #2e3440;
  overflow: hidden;
  font-weight: bold;
  height: fit-content;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  background-color: #81a1c1;
  &:hover {
    background-color: #88c0d0;
    margin: -0.05em;
    font-size: 1.05em;
    &::selection {
      background-color: #d8dee9 !important;
    }
  }

  &.tiny {
    height: 0;
    margin: 0;
    padding: 0;
  }
}
