* { transition: all 0.15s; }

:root, body {
  margin: 0;
  padding: 0;
  color: #d8dee9;
  font-family: monospace;
  background-color: #2e3440;
  &> div {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    p { text-align: center; }
  }
}
h1 {
  &> .server_name {
    color: #ff5454;
    font-style: italic;
  }
  &> .page { color: #d8dee9; }
}
h1, .resText {
  text-align: center;
  &> button {
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: #d8dee9;
    &:hover {
      color: white;
      background-color: #4c5a73;
    }
  }
  &> .id {
    text-align: center;
  }
}
#note {
  width: 80vw;
  height: 50vw;
  padding: 2em;
  outline: none;
  color: #d8dee9;
  display: block;
  font-size: 1.25em;
  border-radius: 1em;
  margin-bottom: 1em;
  overflow: scroll;
  font-family: monospace;
  box-sizing: border-box;
  background-color: #2e3440;
  border: solid #d8dee9 0.25em;
}
#id {
  display: block;
  color: #2e3440;
  font-weight: bold;
  box-sizing: border-box;
  background-color: grey;
  font-size: 2ch;
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
  text-align: center;
  cursor: pointer;
  &.send {
    cursor: pointer;
    text-align: center;
  }
  &:hover {
    padding: 0.75em;
    color: #d8dee9;
    border: solid #d8dee9 0.25em;
    background-color: transparent;
  }
  margin-bottom: 1em;
}
.new_note {
  outline: none;
  border: none;
  display: block;
  color: #2e3440;
  font-weight: bold;
  box-sizing: border-box;
  background-color: grey;
  font-size: 2ch;
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
  cursor: pointer;
  &:hover {
    background-color: white;
  }
  margin-bottom: 1em;
}

#js_warn { color: red; }

.clipboard_copy {
  font-size: 1.1em !important;
  background-color: #d8dee9 !important;
  color: black !important;
}
