* {
  cursor: default;
  transition: all 0.15s;
}

::selection {
  color: #d8dee9;
  background-color: #bf616a;
}

button { cursor: pointer; } 

:root, body {
  margin: 0;
  padding: 0;
  color: #d8dee9;
  font-family: monospace;
  background-color: #2e3440;
  &> div {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    p { text-align: center; }
  }
}
h1 {
  &> .server_name {
    color: #ff5454;
    font-style: italic;
  }
  &> .separator { color: #697da3; }
  &> .page { color: #d8dee9; }
}
h1, .resText {
  text-align: center;
  &> button {
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: #d8dee9;
    &:hover {
      color: #d8dee9;
      background-color: #4c5a73;
    }
  }
  &> .id { text-align: center; }
}

#note {
  width: 80vw;
  height: 50vw;
  padding: 2em;
  outline: none;
  color: #d8dee9;
  display: block;
  font-size: 1.25em;
  border-radius: 1em;
  margin-bottom: 1em;
  overflow: scroll;
  font-family: monospace;
  box-sizing: border-box;
  background-color: #2e3440;
  cursor: text;
}

textarea#note { border: solid #d8dee9 0.25em; }
pre#note { border: solid #697da3 0.25em; }

#id {
  display: block;
  color: #2e3440;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #697da3;
  font-size: 2ch;
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
  text-align: center;
  cursor: pointer;
  &.send {
    cursor: pointer;
    text-align: center;
  }
  &::selection {
    color: #2e3440 !important;
    background-color: #d8dee9 !important;
  }
  &:hover {
    color: #d8dee9;
    box-shadow: inset 0 0 0 0.25em #697da3;
    font-size: 1.25em;
    background-color: transparent;
  }
  margin-bottom: 1em;
}
.note_page_btn {
  text-align:center;
  outline: none;
  border: none;
  display: block;
  color: #2e3440;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #697da3;
  font-size: 2ch;
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
  cursor: pointer;
  &::selection {
    color: #2e3440 !important;
    background-color: #697da3 !important;
  }
  &:hover {
    background-color: #d8dee9;
    &::selection {
      background-color: #d8dee9 !important;
    }
  }
  margin-bottom: 1em;
}

#js_warn { color: red; }

.clipboard_copy {
  font-size: 1.1em !important;
  background-color: #d8dee9 !important;
  color: black !important;
}

.below_is_id {
  padding: 0em;
  margin: 0em;
  margin-bottom: 1em;
  font-size: 1.75em;
  font-style: italic;
}

#file {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  &> div {
    flex: 1;
    height: 25vw;
    padding: 1rem;
    margin: 1em;
    border-radius: 1em;
    text-align: center;
    background-color: #4c566a;
  }
  &>.left_pane {
    &>.fi_typ > code, &>.fi_size > code {
      margin-left: 0.5em;
      padding: 0.25em;
      border-radius: 0.25em;
      background-color: #2e3440;
      border: solid 0.1em #8b93a3;
    }
  }
  &>.right_pane {
    h3 {
      height: 10%;
      margin: 0;
      padding: 0;
    }
    .preview {
      margin: 0;
      text-align: left;
      padding: 1em;
      box-sizing: border-box;
      display: block;
      background-color: #2e3440;
      width: 100%;
      height: 90%;
      border-radius: 0.7em;
    }
  }
}
