::selection {
  color: #d8dee9;
  background-color: #bf616a;
}

:root {
  background-color: #2e3440;
  transition: background-color 0ms !important;
}

* {
  opacity: 1;
  cursor: default;
  transition: all 250ms;
}

:root, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  color: #d8dee9;
  min-height: 100vh;
  align-items: center;
  font-family: monospace;
  justify-content: space-around;
  &:has(.collapsed) {
    overflow: hidden;
  }
  &> div {
    &:has(.resText:not([hidden])) {
      &>h1 { margin: 0; }
    }
    &.collapsed * {
      opacity: 0;
      width: 0 !important;
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
      top: 50%;
      position: absolute;
      align-content: center;
      transform: translateY(-50%);
      box-sizing: border-box !important;
    }
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    &:not(.collapsed){
      height: fit-content;
      max-height: 100vh;
      overflow-y: auto;
      min-height: min-content;
    }
    p { text-align: center; }
    .tab {
      background-color: #2e3440;
      outline: none;
      border: 0.25em solid #d8dee9;
      position: absolute;
      box-sizing: border-box;
      border-radius: 0em 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      right: 10vw;
      cursor: pointer;
      &[is_open="false"] {
        font-size: 1.5em;
        &[which="new_note"] {
          width: 2.5em;
          height: 2.5em;
          &:hover {
            color: #2e3440;
            background-color: #d8dee9;
          }
        }
        &[which="res_text"] {
          border-radius: 0.5em;
          width: 2.675em;
          height: 2.675em;
          color: #2e3440;
          border: 0.25em solid #2e3440;
          background-color: #d8dee9;
          &:hover {
            color: #d8dee9;
            border: 0.25em solid #d8dee9;
            background-color: #2e3440;
          }
        }
      }
      &[is_open="true"] {
        &:hover { cursor: default }
        &[which="new_note"] {
          .container {
            &>p {
              font-size: 1.15em;
              margin: 0 0 0.25em 0;
            }
            #file_input{
              text-align: center;
              font-family: monospace;
              &::file-selector-button {
                all: unset;
                color: #2e3440;
                display: block;
                margin: 0 auto;
                font-weight: bold;
                padding: 0.25em 1em;
                border-radius: 0.5em;
                transition: all 250ms;
                margin-bottom: 0.25em;
                background-color: #d8dee9;
                border: 0.25em solid #2e3440;
              }
              &:hover::file-selector-button {
                color: #d8dee9;
                background-color: #2e3440;
                border: 0.25em solid #d8dee9;
              }
            }
          }
          @media (orientation: landscape) {
            width: 25vw;
            height: 50vh;
            border-radius: 0 1em 1em 0;
          }
          @media (orientation: portrait) {
            width: 70vw;
            height: 50vw;
            border-radius: 0 1em 1em 0;
          }
        }
        &[which="res_text"] {
          padding: 0.5em;
          border-radius: 0.75em;
          &>button {
            all: unset;
            color: #2e3440;
            font-size: 1.75em;
            padding: 0em 0.5em;
            transition: all 250ms;
            border-radius: 0.15em;
            background-color: #d8dee9;
            border: 0.1em solid #d8dee9;
            &:hover {
              color: #d8dee9;
              background-color: #2e3440;
              border: 0.1em solid #d8dee9;
            }
            &[click] {
              color: #2e3440;
              background-color: #d8dee9;
              border: 0.1em solid #2e3440;
            }
          }
          &>button.close {
            color: #d8dee9;
            margin-right: 0.75em;
            background-color: #2e3440;
            border: 0.1em solid #d8dee9;
            &:hover {
              color: #2e3440;
              background-color: #d8dee9;
              border: 0.1em solid #2e3440;
            }
            &[click] {
              color: #d8dee9;
              background-color: #2e3440;
              border: 0.1em solid #d8dee9;
            }
          }
        }
      }
    }
  }
}


button:not([disabled]) { cursor: pointer; } 

h1 {
  &> .server_name {
    color: #ff5454;
    font-style: italic;
  }
  &> .separator { color: #697da3; }
  &> .page { color: #d8dee9; }
}
h1, .resText {
  text-align: center;
  &> button {
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: #d8dee9;
    &:hover:not([disabled]) {
      color: #d8dee9;
      background-color: #4c5a73;
    }
  }
  &> .id { text-align: center; }
}

#note {
  width: 80vw;
  padding: 2em;
  cursor: text;
  resize: none;
  outline: none;
  color: #d8dee9;
  display: block;
  overflow: scroll;
  font-size: 1.25em;
  border-radius: 1em;
  margin-bottom: 1em;
  font-family: monospace;
  box-sizing: border-box;
  background-color: #2e3440;
  @media (orientation: portrait) { height: 50vw }
  @media (orientation: landscape) { height: 50vh }
}

textarea#note { border: solid #d8dee9 0.25em; }
pre#note { border: solid #697da3 0.25em; }

#id {
  display: block;
  color: #2e3440;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #697da3;
  font-size: 2ch;
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
  text-align: center;
  cursor: pointer;
  &.send {
    cursor: pointer;
    text-align: center;
  }
  &::selection {
    color: #2e3440 !important;
    background-color: #d8dee9 !important;
  }
  &:hover {
    color: #d8dee9;
    box-shadow: inset 0 0 0 0.25em #697da3;
    font-size: 1.25em;
    background-color: transparent;
  }
  margin-bottom: 1em;
}
.note_page_btn {
  text-align:center;
  outline: none;
  border: none;
  display: block;
  color: #2e3440;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #697da3;
  font-size: 2ch;
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
  cursor: pointer;
  &::selection {
    color: #2e3440 !important;
    background-color: #697da3 !important;
  }
  &:hover {
    background-color: #88c0d0;
    font-size: calc(2ch * 1.05);
    margin-top: calc(2ch * -0.05);
    &::selection {
      background-color: #d8dee9 !important;
    }
  }
  margin-bottom: 1em;
}

#js_warn { color: red; }

.clipboard_copy {
  font-size: 1.1em !important;
  background-color: #d8dee9 !important;
  color: black !important;
}

.below_is_id {
  padding: 0em;
  margin: 0em;
  margin-bottom: 1em;
  font-size: 1.75em;
  font-style: italic;
}

#file {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  &> div {
    flex: 1;
    height: 25vw;
    padding: 1rem;
    margin: 1em;
    border-radius: 1em;
    text-align: center;
    background-color: #4c566a;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: calc(50vw - 5em);
  }
  &>.left_pane {
    .dl_btn {
      border-radius: 0.3em;
      padding: 0.2em 0.5em;
      outline: none;
      margin-bottom: 0.25em;
      border: none;
    }
    &>p {
      padding: 0.4em;
      margin:0;
    }
    &>.fi_typ > code, &>.fi_size > code {
      margin-left: 0.5em;
      padding: 0.2em;
      margin: 0;
      border-radius: 0.25em;
      background-color: #2e3440;
      border: solid 0.1em #8b93a3;
    }
    &>.note_comment {
      flex: 1;
      margin: 0;
      padding: 1em;
      overflow: auto;
      text-align: left;
      border-radius: 0.7em;
      box-sizing: border-box;
      background-color: #2e3440;
    }
  }
  &>.right_pane {
    h3 {
      height: 10%;
      margin: 0;
      padding: 0 0 1em 0;
    }
    .preview {
      margin: 0;
      text-align: left;
      padding: 1em;
      box-sizing: border-box;
      display: block;
      background-color: #2e3440;
      width: 100%;
      height: 100%;
      border-radius: 0.7em;
      text-wrap: auto;
      &.img {
        padding: 0;
        width: auto;
        object-fit: contain;
      }
    }
  }
}

#warning_container { 
  display: flex;
  align-items: center;
  height: 100%;
  &> div {
    margin-left: auto;
    margin-right: auto;
  }
  .continue {
    color: #2e3440;
    padding: 0.2em 0.5em;
    font-size: 1.75em;
    border-radius: 0.5em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #81a1c1;
    &:hover {
      background-color: #88c0d0;
      font-size: 1.85em;
      margin: -0.05em auto;
    }
  }
}
